<footer class="footer" style="background-color: #45595b ;">
  <div class="container">
    <div class="row footer-top">
      <div class="col pb-4">
        <h2>Foozie Vegetables</h2>
        <span>Frutas Frescas</span>
      </div>
      <div class="col pb-4">

      </div>
      <div class="col pb-4" style="display: flex; align-items: center; justify-content: center;" >
          <div class="radius-icon">
            <i class="bi bi-instagram"></i>
          </div>
          <div  class="radius-icon">
            <i class="bi bi-facebook" ></i>
          </div>
          <div  class="radius-icon">
            <i class="bi bi-whatsapp" ></i>
          </div>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col">
        <div class="footer-item">
          <h4 class="text-light mb-3">Por que as pessoas gostam de nós!</h4>
          <p class="mb-4">typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the like Aldus PageMaker including of Lorem Ipsum.</p>
      </div>
      </div>
      <div class="col">
        <div class="d-flex flex-column text-start footer-item">
          <h4 class="text-light mb-3">Informações</h4>
          <a class="btn-link" href="">About Us</a>
          <a class="btn-link" href="">Contact Us</a>
          <a class="btn-link" href="">Privacy Policy</a>
          <a class="btn-link" href="">Terms & Condition</a>
          <a class="btn-link" href="">Return Policy</a>
          <a class="btn-link" href="">FAQs & Help</a>
      </div>
      </div>
      <div class="col" >
        <div class="d-flex flex-column text-start footer-item">
          <h4 class="text-light mb-3">Conta</h4>
          <a class="btn-link" href="">My Account</a>
          <a class="btn-link" href="">Shop details</a>
          <a class="btn-link" href="">Shopping Cart</a>
          <a class="btn-link" href="">Wishlist</a>
          <a class="btn-link" href="">Order History</a>
          <a class="btn-link" href="">International Orders</a>
        </div>
      </div>
      <div class="col" >
        <div class="footer-item">
          <h4 class="text-light mb-3">Contato</h4>
          <p>Address: 1429 Netus Rd, NY 48247</p>
          <p>Email: Example.com</p>
          <p>Phone: +0123 4567 8910</p>
          <p>Payment Accepted</p>
          <img src="img/payment.png" class="img-fluid" alt="">
      </div>
      </div>
    </div>
  </div>

  <div class="container-fluid copyright py-4" style="background-color: #45595b;">
    <div class="container" style="background-color: #45595b;">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <span class="text-light"><a href="#" style="color: #81c408 ;"><i class="bi bi-c-circle-fill text-light me-2"></i>Your Site Name</a>, All right reserved.</span>
            </div>
        </div>
    </div>
  </div>
</footer>
