<section>
  <div class="header navbar navbar-light bg-white ww">
    <div class="container">
      <h2>Foozie Vegetables</h2>
      <nav class="nav">
        <ul class="options_menu">
          <li class="m-4">
            <a href="/descontos" >Descontos</a>
          </li>
          <li class="p-4">
            <a href="/ofertas">Ofertas</a>
          </li>
          <li class="p-4">
            <a href="/legumes">Legumes</a>
          </li>
          <li class="p-4">
            <a href="/vegetais">Vegetais</a>
          </li>
          <li class="p-4">
            <a href="/frutas">Frutas</a>
          </li>
        </ul>
      </nav>
      <div>
        <img src="../../../assets/icons/bag.svg" alt="cart Icon" srcset="" width="50px" height="50px">
        <img src="../../../assets/icons/person-circle.svg" alt="person icon" srcset=""  width="50px" height="50px">
      </div>
    </div>
  </div>
</section>
<div>
  <router-outlet></router-outlet>
</div>


