  <section>
      <div class="container-fluid py-5 mb-5 image-header">
          <div class="container py-5">
              <div class="row g-5 align-items-center">
                  <div class="col-md-12 col-lg-7">
                      <h4 class="mb-3">100% Orgânicos</h4>
                      <h1 class="mb-5 display-3">Frutas e vegetais orgânicos</h1>
                  </div>
                  <div class="col-md-12 col-lg-5">
                  </div>
              </div>
          </div>
      </div>
      <div class="container" >
        <h2>Produtos organicos</h2>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div *ngFor="let item of listItens" class="col">
              <app-cards
              [description]="item.description"
              [image]="item.image"
              [name]="item.name"
              [unitValue]="item.unitValue"
              ></app-cards>
            </div>
        </div>
      </div>
      <div class="container pt-4">
        <div class="title">
          <h2>Produtos Mais Vendidos</h2>
          </div>
          <div class="subtitle">
            <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem vitae delectus alias excepturi dignissimos reprehenderit</span>
          </div>
        <div class="row row-cols-2 row-cols-md-3 g-3">
            <div *ngFor="let item of listItens, let i = index" class="col">
              <div class="card mb-3 card-horizontal" >
                <div style="display: flex; flex-direction: row;">
                  <div>
                    <img src="../../assets/images/best-product-2.jpg" class="custom-image-radius" alt="...">
                  </div>
                  <div>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                        <ng-container *ngFor="let star of getStars(item.vote)">
                          <i class="bi text-primary" [ngClass]="star"></i>
                        </ng-container>
                        <h5>R$ {{item.unitValue}}</h5>
                      <app-btn-primary class="btn-custom"
                        label="Comprar"
                        src="../../../assets/icons/bag.svg"
                        alt="cart Icon"
                        [hasIcon]="true">
                      </app-btn-primary>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    <app-footer></app-footer>
  </section>
