@import '../../../styles.scss';


main {
  @include flex-center;
  background-color: $bg-color;
  height: 100vh;
  width: 100%;

  .form-section {
    @include flex-center;
      background-color: $div-teste-bg-color;
      align-items: center;
      flex-direction: column;
      width: 30rem;
      height: 60%;
  }
  .btn-section{
    @include flex-center;
    flex-direction: column;
    width: 30%;
    button {
      width: 100%;
      height: 30px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 500;
      // border: none;
      background: transparent;

      &.btn-primary {
        background-color: rgb(19, 255, 184);
        color: rebeccapurple;
      }
      &.btn-secondary {
        background-color: none;
        color: rebeccapurple;
        border: 1px solid rgb(19, 255, 184) ;
      }
    }
  }
}
